
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anular Orden Bancaria</title>
    <script src="/Escrituras/Aprobacion/AnularOrdenBancariaLiberada.js"></script>
</head>
<body>
    <h2>Anular Orden Bancaria Liberada</h2>
    @await Html.PartialAsync("_NavTabsAprobacion")
</body>
</html>
