
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver Orden Bancaria</title>
    <script src="/Escrituras/Aprobacion/VerOrdenBancariaDetalleAnulada.js"></script>
</head>
<body>
    <h2>Ver Orden Bancaria Detalle Anulada</h2>
    <div id="dvOrdenBancariaDetalle"></div>
    <a id="btnRegresar" href="javascript:void(0);" class="btn btn-outline-secondary">Regresar</a>
</body>
</html>
