
<form>
    <div class="form-row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8">
            <hr>
        </div>
    </div>
    <div id="dvComentarios" class="form-row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8 form-group">
            <label for="txtComentarios">Comentarios:</label>
            <textarea id="txtComentarios" class="form-control" style="resize: none;" rows="3" maxlength="300"></textarea>
        </div>
    </div>
    <div>
        <button id="btnAprobar" type="button" class="btn btn-outline-primary">Aprobar</button>
        <button id="btnDeshacer" type="button" class="btn btn-outline-danger">Deshacer</button>
        <button id="btnAnular" type="button" class="btn btn-outline-danger">Anular</button>
        <a id="btnRegresar" href="javascript:void(0);" class="btn btn-outline-secondary">Regresar</a>
    </div>
</form>