
<form>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtIdRespuesta">Id Respuesta:</label>
            <input type="text" id="txtIdRespuesta" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8 form-group">
            <label for="txtRespuesta">Respuesta:</label>
            <input type="text" id="txtRespuesta" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtNroOrden">Nro Orden:</label>
            <input type="text" id="txtNroOrden" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtNroConvenio">Nro Convenio:</label>
            <input type="text" id="txtNroConvenio" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8">
            <hr>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtTipoTransferencia">Tipo Transferencia:</label>
            <input type="text" id="txtTipoTransferencia" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtReferencia1">Referencia 1:</label>
            <input type="text" id="txtReferencia1" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtReferencia2">Referencia 2:</label>
            <input type="text" id="txtReferencia2" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtMonedaCargo">Moneda Cargo:</label>
            <input type="text" id="txtMonedaCargo" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtCuentaCargo">Cuenta Cargo:</label>
            <input type="text" id="txtCuentaCargo" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtMontoCargo">Monto Cargo:</label>
            <input type="text" id="txtMontoCargo" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtCuentaAbono">Cuenta Abono:</label>
            <input type="text" id="txtCuentaAbono" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtCuentaGasto">Cuenta Gasto:</label>
            <input type="text" id="txtCuentaGasto" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtModuloRaiz">Módulo Raiz:</label>
            <input type="text" id="txtModuloRaiz" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtDigitoControl">Dígito Control:</label>
            <input type="text" id="txtDigitoControl" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8 form-group">
            <label for="txtBeneficiario">Beneficiario:</label>
            <input type="text" id="txtBeneficiario" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtTipoDocumento">Tipo Doc. Beneficiario:</label>
            <input type="text" id="txtTipoDocumento" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtNroDocumento">Nro Doc. Beneficiario:</label>
            <input type="text" id="txtNroDocumento" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtNombreBanco">Nombre Banco:</label>
            <input type="text" id="txtNombreBanco" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtRucBanco">RUC Banco:</label>
            <input type="text" id="txtRucBanco" class="form-control" readonly />
        </div>
    </div>
</form>