
<form>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtFormaPago">Forma Pago:</label>
            <input type="text" id="txtFormaPago" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtSubTipoPago">Sub Tipo Pago:</label>
            <input type="text" id="txtSubTipoPago" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtReferencia1">Referencia 1:</label>
            <input type="text" id="txtReferencia1" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtReferencia2">Referencia 2:</label>
            <input type="text" id="txtReferencia2" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtCuentaCargo">Cuenta Cargo:</label>
            <input type="text" id="txtCuentaCargo" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtMonedaAbono">Moneda Abono:</label>
            <input type="text" id="txtMonedaAbono" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtCuentaAbono">Cuenta Abono:</label>
            <input type="text" id="txtCuentaAbono" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtMontoAbono">Monto Abono:</label>
            <input type="text" id="txtMontoAbono" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtModuloRaiz">Módulo Raiz:</label>
            <input type="text" id="txtModuloRaiz" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtDigitoControl">Dígito Control:</label>
            <input type="text" id="txtDigitoControl" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8 form-group">
            <label for="txtBeneficiario">Beneficiario:</label>
            <input type="text" id="txtBeneficiario" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtNroDocumento">Nro Doc. Beneficiario:</label>
            <input type="text" id="txtNroDocumento" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtNroFactura">Nro. Factura:</label>
            <input type="text" id="txtNroFactura" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtFechaFactura">Fecha Factura:</label>
            <input type="text" id="txtFechaFactura" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtFechaFinFactura">Fecha Fin Factura:</label>
            <input type="text" id="txtFechaFinFactura" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtSignoFactura">Tipo Factura:</label>
            <input type="text" id="txtSignoFactura" class="form-control" readonly />
        </div>
    </div>
</form>