
<form>
    <div class="form-row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8 form-group">
            <label for="txtSociedad">Sociedad:</label>
            <input type="text" id="txtSociedad" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtIdSap">Id Sap:</label>
            <input type="text" id="txtIdSap" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtAnio">Año:</label>
            <input type="text" id="txtAnio" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtFechaOrden">Fecha Orden:</label>
            <input type="text" id="txtFechaOrden" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8 form-group">
            <label for="txtBanco">Banco:</label>
            <input type="text" id="txtBanco" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtTipoOrden">Tipo Orden:</label>
            <input type="text" id="txtTipoOrden" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtEstadoOrden">Estado Orden:</label>
            <input type="text" id="txtEstadoOrden" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtMonedaLocal">Moneda Local:</label>
            <input type="text" id="txtMonedaLocal" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtImporteLocal">Importe:</label>
            <input type="text" id="txtImporteLocal" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtMonedaForanea">Moneda Extranjera:</label>
            <input type="text" id="txtMonedaForanea" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtImporteForanea">Importe:</label>
            <input type="text" id="txtImporteForanea" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtUsuarioCreacion">Usuario Creación:</label>
            <input type="text" id="txtUsuarioCreacion" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtFechaCreacion">Fecha Creación:</label>
            <input type="text" id="txtFechaCreacion" class="form-control" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtUsuarioEdicion">Usuario Edición:</label>
            <input type="text" id="txtUsuarioEdicion" class="form-control" readonly />
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 form-group">
            <label for="txtFechaEdicion">Fecha Edición:</label>
            <input type="text" id="txtFechaEdicion" class="form-control" readonly />
        </div>
    </div>
</form>