
<nav class="fixed-bottom">
    <div class="progress">
        <div id="dvProgressBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
            <span id="lblProgressBar">0%</span>
        </div>
    </div>
</nav>