
<div id="sidebar-wrapper" class="border-right box-shadow">
    <ul id="ulFiltrado" class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="javascript:void(0);">[Filtros]</a>
        </li>
        <li class="sidebar-brand-label">
            <a href="javascript:void(0);"><i class="material-icons">list</i> Seleccione criterio</a>
        </li>
        <li class="sidebar-categoria">
            <a href="#pageSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Checks</a>
            <ul class="collapse sidebar-opcion" id="pageSubMenu">
                <li>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Default checkbox
                    </label>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label" for="defaultCheck4">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                        <label class="form-check-label" for="defaultCheck5">
                            Default checkbox
                        </label>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageMenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page</a>
            <ul class="collapse sidebar-opcion" id="pageMenu2">
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                        <label class="form-check-label" for="defaultCheck6">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                        <label class="form-check-label" for="defaultCheck7">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                        <label class="form-check-label" for="defaultCheck8">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                        <label class="form-check-label" for="defaultCheck9">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                        <label class="form-check-label" for="defaultCheck10">
                            Default checkbox
                        </label>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageMenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page</a>
            <ul class="collapse sidebar-opcion" id="pageMenu3">
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                        <label class="form-check-label" for="defaultCheck11">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                        <label class="form-check-label" for="defaultCheck12">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                        <label class="form-check-label" for="defaultCheck13">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                        <label class="form-check-label" for="defaultCheck14">
                            Default checkbox
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                        <label class="form-check-label" for="defaultCheck15">
                            Default checkbox
                        </label>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <div class="buttons">
                <button type="button" id="btnLimpiarFiltros" class="btn btn-outline-secondary">Limpiar Filtros</button>
            </div>
        </li>
    </ul>
</div>