
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acceso Denegado</title>
    <link rel="stylesheet" href="/Librerias/Bootstrap/css/bootstrap.css" />
    <script src="/Librerias/Jquery/js/jquery.min.js"></script>
    <script src="/Librerias/Bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>Acceso Denegado</h2>
    <div class="card text-center">
        <div class="card-header">
            Acceso Denegado
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0);" class="btn btn-primary">Cambiar de usuario</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</body>
</html>