
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Rol</title>
    <script src="/Escrituras/Rol/Crear.js"></script>
</head>
<body>
    <h2>Crear Rol</h2>
</body>
</html>
